<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGbC-rbpYi9aBfTAFL6t5lnnWCISwLe5k</string>
	<key>GCM_SENDER_ID</key>
	<string>436961062849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.veggo</string>
	<key>PROJECT_ID</key>
	<string>veggo-4cd7b</string>
	<key>STORAGE_BUCKET</key>
	<string>veggo-4cd7b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436961062849:ios:9a9b6226544df807b0c940</string>
</dict>
</plist>